.table {
  display: flex;
  flex-direction: column;
}

/* .head */

.tread {
  display: flex;
  justify-content: space-between;
}

.datacell {
  font-size: 0.8rem;
}

.datacell__key {
  margin: 0;
}

.datacell__value {
  margin: 0;
  max-width: 210px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* .body */
